html, body {
  font-family: 'Lora', sans-serif;
}

h1 {
  font-size: 36px;
  font-weight: 400;
  color: rgba(39, 135, 255, 0.9);
}

.main {
  margin-top: 50px;
}

form.input {
  background: #f0f0f0;
  border: none;
  border-left: 2px solid #fff;
  font-size: 36px;
  padding-left: 20px;
  width: 100%;
  transition: background 2s, border-left 2s;
}

form.input:focus {
    background: #fff;
    border-left: 2px solid #000;
    box-shadow: none;
    outline: none;
}
button.btn {
    background: transparent;
    border: 2px solid #000;
    color: #00f28f;
    cursor: pointer;
    font-size: 36px;
    padding: 20px 24px;
    transition: background 2s, color 2s;
}
button.btn.hover{
    background: #00f28f;
    color: #fff;
}
tasks {
    margin-top: 20px;
    list-style: none;
    padding-left: 0px;
}
li {
    padding-left: 20px;
    border-left: 3px solid #000;
    font-size: 36px;
    margin: 25px 0 0px;
}
fa.fa-check {
    color: rgba(76, 141, 44, 0.9);
}

fa.fa-times {
    color: rgba(215, 40, 40, 0.9);
    padding-right: 10px;
    padding-left: 10px;
  }

fa.fa-calendar {
  padding-right: 15px;
}

li.done {
background: #CCFF99;
}
